@import "../../../node_modules/material-design-lite/material.min.css";
@import "../../../node_modules/react-image-gallery/build/image-gallery.css";
.home-bg .mdl-layout__content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.home-bg .image-gallery {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .home-bg .image-gallery {
    width: 100%;
  }
}
div.brand {
  z-index: 1;
  position: relative;
  height: 100%;
  width: 100%;
}
h1.brand_name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
